.label_checkbox {
    background-color: #555555;
    color: white;
    font-family: Arial, sans-serif;
    margin-left: 20px;
}

.checkbox_deal_container {
    background-color: #555555;
    color: white;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
}