* {
    background-color: #262626;
    margin: 0;
    font-family: Arial, sans-serif;
}

.main {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left_side_buttons {
    max-width: 150px;
    flex-grow: 0;
}

.profile_container {
    flex-grow: 1;
}

.profile_photo {
    width: 200px;
    height: 200px;

    display: inline-block;
    border-radius: 5px;
}

.nav_button {
    background-color: #5858ff;
    color: white;
    width: 95%;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.nav_button:hover {
    filter: saturate(2);
}

.exit_button {
    margin-top: calc(100vh - 200px);
}

.buttons_container {
    margin: 100px auto auto;
    width: 60%;
    display: flex;
    flex-direction: column;
}


.text_input {
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
    display: inline-block;
    background-color: white;
    color: black;
    width: 300px;
    margin-left: 0;
}

.button {
    text-decoration: none;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 100%;
    margin: 6px 0;
    text-align: center;
}

.button:hover {
    filter:saturate(2);
}

.upload_image_button {
    background-color: #4ab24b;
    height: 50px;
    width: 190px;
    margin-left: 50px;
}

.inputs_form {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
}

.inputs_container {
    display: flex;
    flex-direction: column;
}

.update_button {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #4ab24b;
    width: 200px;
}

.delete_profile_button {
    background-color: #ff3131;
    height: 30px;
    width: 510px;
}

.upload_file_label {
    text-align: center;
    padding-top: 15px;
    height: 25px;
}
.user_info {
    display: inline-block;
    color: white;
}

.add_to_friend_button {
    height: 40px;
}

#delete_from_contacts {
    background-color: red;
}

.status_online {
    color: white;
    margin: 5px;
}