{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/append_deal.css' %}" type="text/css">
    <script src="{% static 'js/cookie_work.js' %}"></script>
    <script src="{% static 'js/append_moderator.js' %}"></script>

    <title>Пригласить модератора</title>
</head>
<body>
<div class="centered_div">
    <h3 class="text_append_deal">Приглашение модератора</h3>
    <input type="text" placeholder="Ник модератора" class="text_input" id="input_moderator_name">
    <button class="button_append" id="button_append">Пригласить!</button>
</div>
</body>
</html>