{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'css/user.css'%}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/user.js' %}"></script>
    <script src="{% static 'js/cookie_work.js' %}"></script>

    <title id="title">Пользователь</title>

    <script>
        const username = getCookie("username");
    </script>
</head>
<body>

<div class="main">
    <div class="left_side_buttons">
        <button class="nav_button" onclick="location.replace('/web/user/' + username);">Профиль</button>
        <button class="nav_button" onclick="location.replace('/web/chats')">Чаты</button>
        <button class="nav_button" onclick="location.replace('/web/contacts')">Контакты</button>
        <button class="nav_button" onclick="location.replace('/web/deals')">Сделки</button>
        <button class="nav_button exit_button" onclick="clearCookie()">Выход</button>
    </div>

    <div class="profile_container">
        <div id="self_page_part" style="display: none;">
        <div class="buttons_container">
            <div style="display: flex; width: 100%; flex-direction: row;">
                <img src="" alt="Profile photo" class="profile_photo">

                <label class="button upload_image_button upload_file_label">
                    Загрузить изображение!
                    <input type="file" style="display: none; width: 0;height: 0;" accept="image/png, image/jpeg, image/gif" id="upload_image_input"/>
                </label>
                <input type="button" value="Загрузить изображение!" class="button upload_image_button" style="display: none">
            </div>

        <p class="status_online"></p>

            <form class="inputs_form" id="username_bank_card_id_form">
                <div class="inputs_container">
                    <input type="text" value="" class="text_input" id="input_username">
                    <input type="tel" inputmode="numeric" pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="19" placeholder="xxxx xxxx xxxx xxxx" class="text_input" id="bank_card_num" value="">
                </div>
                <input type="submit" value="Сохранить!" class="button update_button">
            </form>

            <form method="get" class="inputs_form" id="change_password_form">
                <div class="inputs_container">
                    <input type="password" value="" class="text_input" name="password" placeholder="Старый пароль" required id="old_password">
                    <input type="password" value="" class="text_input" name="password_2" placeholder="Новый пароль" required id="new_password">
                </div>
                <input type="submit" value="Сохранить!" class="button update_button">
            </form>

            <form method="get" class="inputs_form" id="change_email_send_key">
                <div class="inputs_container">
                    <input type="email" value="" class="text_input" name="email_input" placeholder="email" required id="email_input">
                </div>
                <input type="submit" value="Отправить код!" class="button update_button">
            </form>

            <form class="inputs_form" id="form_key">
                <div class="inputs_container">
                    <input type="text" value="" class="text_input" name="email_input" placeholder="Введите код из письма" required id="email_key_input">
                </div>
                <input type="submit" value="Потвердить почту!" class="button update_button" id="key_input">
            </form>

            <div class="inputs_form">
                <input type="submit" value="Удалить профиль!" class="button update_button delete_profile_button" id="delete_profile_button">
            </div>

        </div>
        </div>

    <!-- ELSE -->
    <div id="other_container" style="display: none">
         <div class="buttons_container">
            <div style="display: flex; width: 100%; flex-direction: row;">
                <img src="" alt="Profile photo" class="profile_photo">
            </div>
             <div class="inputs_form user_info">
                 <h1 id="username_h1"></h1>
                 <h2 class="status_online"></h2>
             </div>
         <input type="hidden" value="" id="username_input"/>
             <button style="display: none;" class="button update_button add_to_friend_button" id="delete_from_contacts">Удалить из контактов!</button>
             <button style="display: none;" class="button update_button add_to_friend_button" id="add_to_friends_button">Добавить в контакты!</button>

             <button class="button update_button add_to_friend_button" id="open_chat_button">Открыть чат</button>
             <button class="button update_button add_to_friend_button" id="deal_button">Сделка!</button>
         </div>
    </div>
    </div>
</div>

</body>
</html>